<!DOCTYPE html>
<html>
<head>
    <meta name="package-mapping"
          content="my:org.pprls.ui.views.registry" />
</head>
<body>
<v-window _id="resultWindow" modal height="300px" width="400px">
        <v-vertical-layout  size-full>
            <v-label _id="unitDescription">Μονάδα που εκδόθηκε το πρωτόκολλο</v-label>
            <v-browser-frame _id="label" source="https://tvxs.gr" width-full="true" height="98.99%"></v-browser-frame>
            <v-label _id="data" caption="Στοιχεία πρωτοκόλου" size-full>χχχχ / χχ.χχ.χχχχ χχχχ</v-label>
        </v-vertical-layout>
</v-window>
</body>
</html>