<!DOCTYPE html>
<html>
<head>
    <meta name="package-mapping"
          content="my:org.pprls.ui.view.manager"/>
</head>
<body>
<v-window modal caption="Απόρριψη" icon="fonticon://Vaadin-Icons/e6f7">
    <v-vertical-layout _id="vertical">
        <vaadin-tree _id="organization" size-full :expand selection-mode="single">
        </vaadin-tree>
        <v-button _id="proposal" enabled="false" :center>Πρόταση για προώθηση</v-button>
        <v-button _id="unknown" :center>Δεν ξέρω</v-button>
    </v-vertical-layout>
</v-window>
</body>
</html>