<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;pprlstheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-grid caption="sdfsdf" responsive data-item-type="org.pprls.ui.domain.Item" selection-mode="multi">
   <table>
    <colgroup>
     <col column-id="action" sortable>
     <col column-id="holder" sortable>
     <col column-id="accept" sortable>
     <col column-id="subject" sortable>
     <col column-id="deadLine" sortable>
     <col column-id="instructions" sortable>
     <col column-id="progress" sortable>
     <col column-id="attachments" sortable>
     <col column-id="pending" sortable>
    </colgroup>
    <thead>
     <tr default>
      <th plain-text column-ids="action">Action</th>
      <th plain-text column-ids="holder">Holder</th>
      <th plain-text column-ids="accept">Accept</th>
      <th plain-text column-ids="subject">Subject</th>
      <th plain-text column-ids="deadLine">DeadLine</th>
      <th plain-text column-ids="instructions">Instructions</th>
      <th plain-text column-ids="progress">Progress</th>
      <th plain-text column-ids="attachments">Attachments</th>
      <th plain-text column-ids="pending">Pending</th>
     </tr>
    </thead>
    <tbody></tbody>
   </table>
  </vaadin-grid>
 </body>
</html>